{% extends "layout.html" %}

{% macro sq(num, text, value) %}
    {% if (value === 1) %}
        <td class="marked" id="sq-{{num}}" onclick="mark({{num}})">{{text}}</td>
    {% else %}
        <td class="unmarked" id="sq-{{num}}" onclick="mark({{num}})">{{text}}</td>
    {% endif %}
{% endmacro %}

{% block head %}
<script type="text/javascript">
    function mark(num) {
        fetch('/mark/{{shortcode}}/' + num);
        var el = document.getElementById('sq-' + num);
        if (el.className === 'marked') {
            el.className = 'unmarked';
        } else {
            el.className = 'marked';
        }
    }
</script>
{% endblock %}

{% block content %}
<h1>Here is your bingo card, {{name}}!</h1>
<div class="text-justify text-center">
	You can mark a box by tapping on it.<br /><br />
	If a full row, column or diagonal of 5 (<b><i>five</i></b>) words is completed shout <b><u>BINGO!</u></b> (even during a talk) and run towards the organization to claim your prize.
</div>

<table border="1">
    <tr>
        {{sq('11', sq11, b11)}}
        {{sq('12', sq12, b12)}}
        {{sq('13', sq13, b13)}}
        {{sq('14', sq14, b14)}}
        {{sq('15', sq15, b15)}}
    </tr>
    <tr>
        {{sq('21', sq21, b21)}}
        {{sq('22', sq22, b22)}}
        {{sq('23', sq23, b23)}}
        {{sq('24', sq24, b24)}}
        {{sq('25', sq25, b25)}}
    </tr>
    <tr>
        {{sq('31', sq31, b31)}}
        {{sq('32', sq32, b32)}}
        {{sq('33', sq33, b33)}}
        {{sq('34', sq34, b34)}}
        {{sq('35', sq35, b35)}}
    </tr>
    <tr>
        {{sq('41', sq41, b41)}}
        {{sq('42', sq42, b42)}}
        {{sq('43', sq43, b43)}}
        {{sq('44', sq44, b44)}}
        {{sq('45', sq45, b45)}}
    </tr>
    <tr>
        {{sq('51', sq51, b51)}}
        {{sq('52', sq52, b52)}}
        {{sq('53', sq53, b53)}}
        {{sq('54', sq54, b54)}}
        {{sq('55', sq55, b55)}}
    </tr>
</table>

Save the URL to access your bingo card (or keep your browser open). It stays the same!
{% endblock %}
