{% extends "layout.html" %}

{% block content %}
Hier is je bingokaart, {{name}}!

<table border="1">
    <tr>
        <td>{{sq11}}</td>
        <td>{{sq12}}</td>
        <td>{{sq13}}</td>
        <td>{{sq14}}</td>
        <td>{{sq15}}</td>
    </tr>
    <tr>
        <td>{{sq21}}</td>
        <td>{{sq22}}</td>
        <td>{{sq23}}</td>
        <td>{{sq24}}</td>
        <td>{{sq25}}</td>
    </tr>
    <tr>
        <td>{{sq31}}</td>
        <td>{{sq32}}</td>
        <td>{{sq33}}</td>
        <td>{{sq34}}</td>
        <td>{{sq35}}</td>
    </tr>
    <tr>
        <td>{{sq41}}</td>
        <td>{{sq42}}</td>
        <td>{{sq43}}</td>
        <td>{{sq44}}</td>
        <td>{{sq45}}</td>
    </tr>
    <tr>
        <td>{{sq51}}</td>
        <td>{{sq52}}</td>
        <td>{{sq53}}</td>
        <td>{{sq54}}</td>
        <td>{{sq55}}</td>
    </tr>
</table>
{% endblock %}
