<!DOCTYPE html>
<html lang="nl">
    <head>
        <title>SNiC Bingo</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bingo.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container text-center">
		
        {% block content %}
        {% endblock %}
			<div class="text-center">
			<i>Disclaimer: we do not want to offend anyone with this bingo. It is just for adding an extra fun element to the <a href="https://stichting.snic.nl">SNiC</a> congress.</i>
			</div>
			<div class="fixed-bottom text-center">
			Thank you for using <a href="https://snicbingo.nl/">snicbingo.nl</a>. Made by <b>Kokx</b> and <b>marzman95</b> &copy;2019.<br />
			</div>
        </div>
		
    </body>
</html>
